
/* header */
header {
    color: #193f71;
    /* background-color: #193f71; */
}

.heady{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 5px;
    gap:10px;
}

.circle{
    border: 2px solid #193f71;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
}

.img-profile{
    border-radius: 50%;
    width: 60px;
    height: auto;
    padding: 2px;
}

.descrip{
    display: flex;
    flex-direction: column;

}

.ini{
    padding: 0;
    margin: 0;
}

.ini > h1{
    font-size: 1.3rem;
    margin: 0;
    padding: 0;
}

.ini > p{
    font-size: 0.8rem;
    margin: 0;
    padding: 0;
}



/* body */

.motto{
    background-color: #193f71;
    font-size: 0.6rem;
    color: #fff;
    line-height: normal;
    padding: 5px;
    text-align: center;
}
/* ---- social - icons ---- */
.social-container{

    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    background-color: #193f71;
    
    
}
.icon{
    width: auto;
    height: 15px;
}
.link a{
    text-decoration: none;
    color:#fff;
    margin-right: 5px;
}

/* ---- social - icons ---- */


body { 
    width: 100%;
    font-size: 1rem; 
    line-height: 32px;
    font-weight: lighter;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
    color: #717171;
    background-color: #f3f4f5;
}

h2 {
    font-size:  1.1rem;
    text-align: center;
    color: #004080;
}

header, footer {
    margin: 0;
    padding: .5rem;
    max-width: 100% ;
}

main{
    max-width: 100% ;
}

main > div{
    padding: 0 1rem;
}


/* tech skills & education */


table, td, th{
    border: 1px solid #d5e2f3;
    padding: 5px;
    color: #717171;
}
table{
    border-collapse: collapse;
}

th{
    background-color: #d5e2f3;
    color: #193f71;
}

td > a:link{
    text-decoration: none;
    color: #193f71;
}

td > a:active{
    color: #d5e2f3;
}
.education-table, .tech-skills {
    text-align: center;
}
/* tech skills end */


 footer {
    text-align: center;
    background-color: #193f71;
    color: whitesmoke;
}


footer {
    font-size:  smaller ;
}

main > div:last-child{
    padding-top: 25px;
}

/* slides */

body { margin:0}

.slide-main{
    margin: auto;
    max-width: 90%;
}

